.cinema-grid {
  width: 70%; 
  margin: 1 auto; 
  padding: 0px;
  margin-left: 15%;
  margin-top: 15px;
  text-align: center;
}

.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.seat {
  flex-basis: calc(8.33% - 10px); 
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.selected {
  background-color: #ffcc00;
}

.buy-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
}

.buy-btn.active {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .seat {
    flex-basis: calc(16.66% - 10px);
  }
}

.date-time-picker {
  display: flex;
  align-items: center;
  flex-direction: row;
}
