.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e94a4a;
    color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  

  
  .options ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .options li {
    margin-right: 20px;
    position: relative;
  }
  
  .options li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s; 
  }
  
  .options li a:hover {
    color: rgb(77, 77, 216);
  }
  
  .cart {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .cartAndProfileContainer {
   justify-content: space-between ;
   
  }